.subtitulo{
    margin: 15px;
    padding: 0;
    
}
.contenedor{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.video{
float:right;
margin: 0 0 20px 20px;
max-width: 25%;
height: auto;

}
p{
    font-size: 18px;
}
.tituloInterno{
    font-size: 25px;
    padding: 0 0 0 20px;
    margin: 0;
    

}